
# Playwright General
node_modules/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.idea/

# Playwright Reports
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

#Credentials
.env